{% extends "base.html" %}
{% block content %}
<h1 style='padding-left: 10px'>
	<u>
		{{object.name}}
	</u>
</h1>
<br>
<div style="border-style:solid;width: 50%; float: left;">
	<pre>
		{{object.body}}
	</pre>
</div>
<div style="padding-left: 50%">
	<p>
		<h4 style='padding-left: 10px'>
			For more information about this event, contact<br>{{object.contact}}
		</h4>
	</p>
	<p>
		<h4 style='padding-left: 10px'>
			Date: {{object.date}}
		</h4>
	</p>
	<p>
		<h4 style='padding-left: 10px'>
			Venue: {{object.venue}}
		</h4>
	</p>
	<button style='padding: 8px 15px;margin: 0px 10px;' onclick="location.href='{{object.link}}'">
			<font color=white>
				<h4>
					Click to register for the event
				</h4>
			</font>
		</a>
	</button>
	<button style='padding: 8px 15px;margin: 0px 10px;' onclick="location.href='notif/{{object.id1}}'">
			<font color=white>
				<h4>
					Click here to receive notification
				</h4>
			</font>
		</a>
	</button>
	<p style='padding-left: 10px'>
		<font size=1.5>
			Added on {{object.added_on}}
		</font>
	</p>
</div>
{% endblock content %}