{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div style="padding-left:10px;background-color:#FFE0DA;width:50%">
<h2>Thank you for using the IGNOU Event Management System.</h2><br>
<p style="padding-left:10px">This website is completely open source. You can find the source on GitHub:<br>

<a href="https://github.com/lakshaygarg1701/project_ignou.git" style="padding-left:20px">Project</a><br>

<ul style="padding-left:25px">
    <li><a href="https://github.com/lakshaygarg1701">Lakshay Garg </a>(MCA_NEW->Jan 2021 - Dec 2023)
</ul>
<br>Under the guidance of Mr. Puneet Sharma<br>
<strong>Please <a href="/accounts/login">login</a> to continue to the site</strong>
</p>
</div>
{% endblock %}